/* .App {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
} */

/* Form {
  display: flex;
  justify-content: center;
  align-items: center;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.log-sign-page {
  background-image: url("https://img.freepik.com/free-vector/medical-healthcare-background-with-cardiograph-line_1017-25757.jpg?w=1060&t=st=1726044991~exp=1726045591~hmac=349d31452ebefbccf060896b7e1dee5788dde471c4253d92e02ba90f1222a3c5");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.log-sign-page form {
  background-color: rgb(38 214 196 / 21%);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  gap: 20px;
  height: 200px;
}

.btn {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
  background: transparent;
  padding: 10px;
  border: none;
  color: #e0e8ec;
  font-size: 15px;
  cursor: pointer;
}

.label {
  margin-right: 10px;
  color: #e0e8ec;
}

.input {
  padding: 8px;
  border-radius: 5px;
  border: none;
}
